{% extends 'layouts/base.html' %}

{% block content %}
<div class="ui stackable centered grid container" style="margin-top:12px; margin-bottom:64px">
    <div class="twelve wide computer sixteen wide mobile centered column">
        <h2 class="ui dividing header">
            Colleges
            <div style="margin-top:5px; margin-bottom:5px;" class="sub header">
                View colleges and pertinent information.
            </div>
        </h2>

        <div class="ui menu">
            <div class="ui search item">
                <div class="ui transparent icon input">
                    <input id="search-users" type="text" placeholder="Search colleges...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        {# Use overflow-x: scroll so that mobile views don't freak out
         # when the table is too wide #}
        <div style="overflow-x: scroll; padding-bottom: 100px;">
            <table class="ui searchable sortable unstackable selectable celled table">
                <thead>
                    <tr>
                        <th class="sorted ascending">Name</th>
                        <th>Description</th>
                        <th>Regular Deadline</th>
                        <th>Early Deadline</th>
                    </tr>
                </thead>
                <tbody>
                
                {% for c in colleges | sort(attribute='name') %}
                    <tr onclick="window.location.href = '{{ url_for('student.view_college_profile', college_id=c.id) }}';">
                        <td>{{ c.name }}</td>
                        <td>{{ c.description }}</td>
                          <td>
                                {% if c.regular_deadline is none %}
                                    No Data
                                {% else %}
                                    {{ c.regular_deadline.strftime('%m-%d-%Y') }}     
                                {% endif %} 
                            </td>

                            <td>
                                {% if c.early_deadline is none %}
                                    No Data
                                {% else %}
                                    {{ c.early_deadline.strftime('%m-%d-%Y') }}
                                {% endif %} 
                            </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#search-users').keyup(function () {
            var searchText = $(this).val();
            if (searchText.length > 0) {
                $('tbody td:icontains(' + searchText + ')').addClass('positive');
                $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
            } else {
                $('td.positive').removeClass('positive');
                $('tr.hidden').removeClass('hidden').show();
            }
        });

        $('#select-role').dropdown({
            onChange: function (value, text, $selectedItem) {
                $('td.user.role:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                $('td.user.role').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
            }
        });
    });
</script>
{% endblock %}