{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>{{ user.full_name() }}'s Profile:</h1>
        <h2>Personal Information:</h2>
            <p><strong>First Name</strong>: {{ user.first_name }}</p>
            <p><strong>Last Name</strong>: {{ user.last_name }}</p>
            <p><strong>Email Address</strong>: {{ user.email }}</p>
            <p><strong>District</strong>: {{ user.student_profile.district }}</p>
            <p><strong>Residence</strong>: {{ user.student_profile.city}}, {{ user.student_profile.state}}</p>
            <p><strong>Graduation Year</strong>: {{ user.student_profile.graduation_year}} </p>
        <h2>Academic Information:</h2>
            <p><strong>High School</strong>: {{ user.student_profile.high_school }}</p>
            <p><strong>Grade</strong>: {{ user.student_profile.grade }}th </p>
            <p><strong>GPA</strong>: {{ user.student_profile.gpa }} </p>

            <p><strong>Test Scores:</strong></p>
            <p><li> {{ user.student_profile.test_scores }} </li></p>
             <a class="ui small basic icon button" href="{{ url_for('student.add_test_score') }}">Add Test Score</a>
            }
            }
            {% for item in user.student_profile.test_scores %}
                <p><li>{{ item.name + ': ' + item.score|string}}</li></p>
            {% endfor %}

            <p><strong>Majors of Interest:</strong>
            {% for item in user.student_profile.majors %}
                <p><li>{{ item.name }}</li></p>
            {% endfor %}

            <p><strong>Colleges of Interest:</strong>
            {% for item in user.student_profile.colleges %}
                <p><li>{{ item.name }}</li></p>
            {% endfor %}


        <h2>College Application Information:</h2>
            <p><strong>Link to CommonApp Essay</strong>: Click <a href="{{ user.student_profile.common_app_essay }}" target="_blank">here</a> to view</p>

            <p><strong>Supplemental Essays:</strong>
            {% for item in user.student_profile.essays %}
                <p><li><strong>{{ item.name + ': '}}</strong> Click <a href = "{{ item.link }}" target="_blank" >here</a> to view</li></p>
            {% endfor %}


            <p><strong>Recommendation Letters:</strong>
            {% for item in user.student_profile.recommendation_letters %}
                <p> <strong>Name: </strong>{{ item.name }}<br>
                <strong>Position: </strong>{{ item.category }}<br>
                <strong>Status: </strong>{{ item.status }}</br></p>
            {% endfor %}

    </div>
{% endblock %}
