{% import 'macros/nav_macros.html' as nav %}

<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/_head.html' %}
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {% block custom_head_tags %}{% endblock %}
    </head>
    <body>
        {% set dropdown = [] %}
        {% if current_user.is_admin() %}
            {% set dropdown =
              [
                ('Welcome ' + current_user.first_name + '!',
                  [
                    ('account.manage', 'Your Account', 'settings'),
                    ('admin.index', 'Manage Users', 'user'),
                    ('account.logout', 'Log out', 'sign out'),
                  ]
                ),
              ]
            %}
        {% elif current_user.is_counselor() %}
          {% set dropdown =
            [
              ('Welcome ' + current_user.first_name + '!',
                [
                  ('account.manage', 'Your Account', 'settings'),
                  ('account.logout', 'Log out', 'sign out'),
                ]
              ),
            ]
          %}
        {% elif current_user.is_authenticated %}
          {% set dropdown =
            [
              ('Welcome ' + current_user.first_name + '!',
                [
                  ('account.manage', 'Your Account', 'settings'),
                  ('account.logout', 'Log out', 'sign out'),
                ]
              ),
            ]
          %}
        {% endif %}

        {% block nav %}
          {# add dropdown variable here to the render_nav method to render dropdowns #}
          {{ nav.render_nav(current_user, dropdown) }}
        {% endblock %}

        {% include 'partials/_flashes.html' %}
        {# When extended, the content block contains all the html of the webpage #}
        {% block content %}
        {% endblock %}

        {# Implement CSRF protection for site #}
        {% if csrf_token()|safe %}
            <div style="visibility: hidden; display: none">
              <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
            </div>
        {% endif %}
    </body>
</html>
