{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('counselor.alerts_dashboard') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Manage SMS Notifications
                <div class="sub header">
                    View and modify SMS alerts about deadlines and events for students.
                </div>
            </h2>

            <div class="ui fluid icon input">
                <input id="search-alerts" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <br />

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Date/Time</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for a in alerts %}
                    <tr onclick="window.location.href = '{{ url_for('counselor.edit_alert', alert_id=a.id) }}';">
                        <td>{{ a.title }}</td>
                        <td>{{ a.content }}</td>
                        <td>{{ a.format_date() }} {{ a.format_time() }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-alerts').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
    </script>
{% endblock %}
