{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% macro counselor_checklist(checklist) %}
    <table class="ui basic table">
    	{% for item in checklist %}
            <tr>
            	<td>{{ '%s' % (item.text) }}</td> 
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Checklist
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="eight wide column">
            	{{ counselor_checklist(checklist) }}
                {{ f.render_form(form, extra_classes='fluid') }}
            </div>
        </div>
    </div>
{% endblock %}
