{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid centered container" style="margin-top:12px; margin-bottom:64px">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <h2 class="ui dividing header">
                Colleges
                <div style="margin-top:5px; margin-bottom:5px;" class="sub header">
                    View and edit colleges and their deadlines.
                </div>
            </h2>

            <div class="ui menu">
                <div class="ui search item">
                    <div class="ui transparent icon input">
                        <input id="search-colleges" type="text" placeholder="Search colleges...">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ui item">
                    <a class="ui black basic button" href="{{ url_for('counselor.add_college') }}">Add College via This Website</a>
                </div>
                <div class="ui item">
                    <a class="ui black basic button" href="{{ url_for('counselor.upload_college_file') }}">Add College via Excel</a>
                </div>
                <div class="ui item">
                    <a class="ui black basic button" href="{{ url_for('counselor.upload_scattergram') }}">Add Scattergram Data</a>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Name</th>
                            <th>Description</th>
                            <th>Regular Deadline</th>
                            <th>Early Deadline</th>
                            <th>College Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!--TODO: Make everything under the same onclick.-->

                    {% for c in colleges | sort(attribute='name') %}
                            <td onclick="window.location.href = '{{ url_for('counselor.edit_college_step2', college_id=c.id) }}';">{{ c.name }}</td>
                            <td onclick="window.location.href = '{{ url_for('counselor.edit_college_step2', college_id=c.id) }}';">{{ c.description }}</td>
                            <td onclick="window.location.href = '{{ url_for('counselor.edit_college_step2', college_id=c.id) }}';">
                                {% if c.regular_deadline is none %}
                                    No Data
                                {% else %}
                                    {{ c.regular_deadline.strftime('%m-%d-%Y') }}     
                                {% endif %} 
                            </td>

                            <td onclick="window.location.href = '{{ url_for('counselor.edit_college_step2', college_id=c.id) }}';">
                            
                             {% if c.early_deadline is none %}
                                   No Data
                                {% else %}
                                    {{ c.early_deadline.strftime('%m-%d-%Y') }}
                                {% endif %} 
                            </td>
                            
                            <td><div class="ui basic button" onclick="window.location.href = '{{ url_for('student.view_college_profile', college_id=c.id) }}';">View Profile</div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-colleges').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
    </script>
{% endblock %}