{% extends 'layouts/base.html' %} {% block content %}
<div class="ui stackable centered grid container" style="margin-top:12px; margin-bottom:64px">
    <div class="four wide column">
            <form id="filter-form" class="ui form">
                <div class="field">
                    <h4 class="ui header">Filter by Category</h4>
                    <select multiple="" class="ui fluid search dropdown" id='category-field'>
                        <option value="">Search categories...</option>
                        {% for c in category_list %}
                            <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="ui primary button" style="background-color: #FF4249;" type="submit">Filter</button>
            </form>
            <h4 class="ui header">Search</h4>
            <div class="ui input focus">
                <div class="ui icon input">
                    <input id="search-scholarships" type="text" placeholder="Search scholarships...">
                    <i class="search icon"></i>
                </div>
            </div>
            <h4 class="ui header">Upload Scholarship CSV</h4>
            <div class="ui item">
                <a class="ui black basic button" href="{{ url_for('counselor.upload_scholarship_file') }}">Upload Scholarships</a>
            </div>

    </div>
    <div class="twelve wide computer sixteen wide mobile centered column">
        <h2 class="ui dividing header">
            Scholarships
            <div style="margin-top:5px; margin-bottom:5px;" class="sub header">
                View and upload scholarships.
            </div>
        </h2>
        {# Use overflow-x: scroll so that mobile views don't freak out # when the table is too wide #}
        <div style="overflow-x: scroll;">
            <table class="ui searchable sortable unstackable selectable celled table">
                <thead>
                    <tr>
                        <th class="sorted ascending">Name</th>
                        <th>Description</th>
                        <th>Award Amount</th>
                        <th>Deadline</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in scholarships | sort(attribute='name') %}
                    <tr class = "scholarship-row" onclick="window.location.href = '{{ url_for('student.view_scholarship_profile', scholarship_id=s.id) }}';">

                        <td class="searchable-td">{{ s.name }}</td>
                        <td class="searchable-td">{{ s.description }}</td>
                        <td class="searchable-td">{{ "${:,.2f}".format(s.award_amount) }}</td>
                        <td class="searchable-td">{{ s.deadline }} </td>
                        <td class="td-category searchable-td" data-category={{ s.category }}>{{ s.category }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='scripts/semantic-tablesort.js')}}"></script>
<script type="text/javascript">
            $(document).ready(function () {
                // Semantic UI function calls to make elements dynamic
                $('table').tablesort();
                $('select.dropdown').dropdown();
                $('.ui.checkbox').checkbox();

                // Apply current filters to table
                function filterScholarships() {
                    // list of category names, null if no categories are selected
                    var temp = $('#category-field').dropdown('get value');
                    let category_filter = $('#category-field').dropdown('get value')[temp.length - 1];

                    
                    $('.scholarship-row').each(function () {
                        $this = $(this);
                        $this.show();

                        if (category_filter != null) {
                            let category = $this.find('.td-category').data('category');
                            var matchesCategoriesFilter = false;
                            for (var i = 0; i < category_filter.length; i++) {
                                if (category_filter[i].includes(category)) {
                                    matchesCategoriesFilter = true;
                                }
                            }
                            if (!matchesCategoriesFilter) {
                                $this.hide();
                            }
                        }
                    });
                }

                $('#filter-form').submit(function (e) {
                    filterScholarships();
                    return false;
                })

                // Search through students (with the filter applied)
                $('#search-scholarships').keyup(function () {
                    filterScholarships();
                    var searchText = $(this).val();
                    $('.matches').removeClass('matches');
                    $('td.positive').removeClass('positive');
                    if (searchText.length > 0) {
                        $('tbody .searchable-td:icontains(' + searchText + ')').addClass('positive');
                        $('.positive').closest('tr').addClass('matches');
                        $('tbody tr').not('.matches').hide();
                    }
                });
            });
</script> {% endblock %}