{% extends 'layouts/base.html' %} {% import 'macros/form_macros.html' as f %} {% block content %}
<div class="ui stackable centered grid container" style="margin-top:12px; margin-bottom:64px">
  <!-- DISPLAY USER PROFILE INFORMATION -->
  <div class="row">
    <div class="twelve wide column">
      <h1 class="ui dividing header">
        {{ user.full_name() }}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="seven wide column">
      <div class="ui list">
        <div class="item">
          <i class="mail icon"></i>
          <div class="content">
            &nbsp;<a href="mailto:{{ user.email }}">{{ user.email }}</a>
          </div>
        </div>
        <div class="item">
          <i class="calendar outline icon"></i>
          <div class="content">
            &nbsp;{{ user.student_profile.grade }}th Grade
          </div>
        </div>
        <div class="item">
          <i class="student icon"></i>
          <div class="content">
            {{ user.student_profile.high_school }}, {{ user.student_profile.graduation_year }}
          </div>
        </div>
        <div class="item">
          <i class="marker icon"></i>
          <div class="content">
            &nbsp; {{ user.student_profile.district }}, {{ user.student_profile.city }}, {{ user.student_profile.state }}
          </div>
        </div>
      </div>
    </div>
    <div class="five wide column">
      <button class="right floated ui button" onclick="window.location.href='{{ url_for('student.edit_profile', student_profile_id=user.student_profile.id) }}';"><i class="ui edit icon"></i>Edit Profile</button>
      <button class="right floated ui button" onclick="window.location.href='{{ url_for('student.checklist', student_profile_id=user.student_profile.id) }}';"><i class="ui tasks icon"></i>View Tasks</button>
    </div>
  </div>

  <!-- DISPLAY ACADEMIC INFORMATION -->
  <div class="row">
    <div class="twelve wide column">
      <div style="color: #1A85D6;" class="ui horizontal divider">
        <h3>Academic Information</h3>
      </div>
    </div>
    <div class="nine wide column">
      <div class="ui mini four statistics">
        <div class="statistic">
          <div class="label">Unweighted GPA</div>
          <span style="padding:0.25em"></span>
          <div class="value">{{ user.student_profile.unweighted_gpa }}</div>
        </div>
        <div class="statistic">
          <div class="label">Weighted GPA</div>
          <span style="padding:0.25em"></span>
          <div class="value">{{ user.student_profile.weighted_gpa }}</div>
        </div>
        <div class="statistic">
          <div class="label">SAT</div>
          <span style="padding:0.25em"></span>
          <div class="value">{{ sat }}</div>
        </div>
        <div class="statistic">
          <div class="label">ACT</div>
          <span style="padding:0.25em"></span>
          <div class="value">{{ act }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- DISPLAY TEST SCORES -->
  <div class="row">
    <div class="twelve wide column">
      <div style="color: #1A85D6;" class="ui horizontal divider">
        Test Scores
      </div>
      <table class="ui compact table">
        <thead class="full-width">
          <th>Test Name</th>
          <th>Date</th>
          <th>Score</th>
          {% if user.student_profile.test_scores|length > 0 %}
          <th></th>
          {% endif %}
        </thead>
        <tbody>
          {% if user.student_profile.test_scores|length > 0 %} {% for test in user.student_profile.test_scores|sort(attribute='name') %}
          <tr>
            <td>{{ test.name }}</td>
            <td>{{ test.month }} {{ test.year }}</td>
            <td>{{ test.score|string }}</td>
            <td class="collapsing">
              <div class="ui tiny icon buttons">
                <a class="ui blue basic icon button" href="/student/profile/test_score/edit/{{ test.id }}"><i class="ui edit icon"></i></a>
                <div class="ui red basic icon button delete-test-button" data-id="{{ test.id }}"><i class="ui remove icon"></i></div>
              </div>
            </td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td colspan="4">
              No test scores.
            </td>
          </tr>
          {% endif %}
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th colspan="4">
              <a class="ui right floated small green basic labeled icon button" href="{{ url_for('student.add_test_score', student_profile_id=user.student_profile.id)}}">
                <i class="plus icon"></i> Add Test Score
              </a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="row">
    <!-- DISPLAY MAJORS -->
    <div class="six wide column">
      <div style="color: #1A85D6;" class="ui horizontal divider">
        Majors of Interest
      </div>
      <table class="ui compact table">
        <thead class="full-width">
          <th colspan="2">Major</th>
        </thead>
        <tbody>
          {% if user.student_profile.majors|length > 0 %} {% for major in user.student_profile.majors|sort(attribute='name') %}
          <tr>
            <td>{{ major.name }}</td>
            <td class="collapsing">
              <div class="ui icon red basic tiny button delete-major-button" data-id="{{ major.id }}">
                <i class="x icon"></i>
              </div>
            </td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td colspan="2">
              No majors.
            </td>
          </tr>
          {% endif %}
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th colspan="2">
              <a class="ui right floated small green basic labeled icon button" href="{{ url_for('student.add_major', student_profile_id=user.student_profile.id) }}">
                <i class="plus icon"></i> Add Major
              </a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- DISPLAY COLLEGES -->
    <div class="six wide column">
      <div style="color: #1A85D6;" class="ui horizontal divider">
        Colleges of Interest
      </div>
      <table class="ui compact table">
        <thead class="full-width">
          <th colspan="2">College</th>
        </thead>
        <tbody>
          {% if user.student_profile.colleges|length > 0 %} {% for college in user.student_profile.colleges|sort(attribute='name') %}
          <tr>
            <td>{{ college.name }}</td>
            <td class="collapsing">
              <a class="ui labeled icon basic tiny button" href="/student/college_profile/{{ college.id }}">
                <i class="external icon"></i> View Profile
              </a>
              <div class="ui icon red basic tiny button delete-college-button" data-id="{{ college.id }}">
                <i class="x icon"></i>
              </div>
            </td>
          </tr>
          {% endfor %} {% else %}
          <tr>
            <td colspan="2">
              No colleges.
            </td>
          </tr>
          {% endif %}
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th colspan="3">
              <a class="ui right floated small green basic labeled icon button" href="{{ url_for('student.add_college', student_profile_id=user.student_profile.id) }}">
                <i class="plus icon"></i> Add College
              </a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!-- DISPLAY ESSAYS -->
  <div class="row">
    <div class="twelve wide column">
      <div style="color: #1A85D6;" class="ui horizontal divider">
        <h3>College Application Information</h3>
      </div>
      <div style="color: #1A85D6;" class="ui horizontal divider">Essays</div>
      <table class="ui compact table">
        <thead class="full-width">
          <th>Essay</th>
          <th>Status</th>
          <th></th>
        </thead>
        <tbody>
          <!-- COMMON APP ESSAY -->
          {% if user.student_profile.common_app_essay|length > 0 %} {% if user.student_profile.common_app_essay_status=='Incomplete' %}
          <tr class="negative">
          {% elif user.student_profile.common_app_essay_status=='Done' %}
          <tr class="positive">
          {% else %}
          <tr class="warning">
          {% endif %}
            <td>Common App Essay</td>
            <td>{{ user.student_profile.common_app_essay_status }}</td>
            <td class="collapsing">
              <a class="ui basic tiny labeled icon button" href="{{ user.student_profile.common_app_essay }}" target="_blank">
                <i class="external icon"></i>
                View Essay
              </a>
              <div class="ui tiny buttons">
                <a class="ui blue basic icon button" href="/student/profile/common_app_essay/edit/{{ user.student_profile_id }}">
                  <i class="edit icon"></i>
                </a>
                <div class="ui red basic icon button delete-common-button">
                  <i class="x icon"></i>
                </div>
              </div>
            </td>
          </tr>
          {% endif %}
          <!-- SUPPLEMENTAL ESSAYS -->
          {% if user.student_profile.essays|length > 0 %} {% for essay in user.student_profile.essays|sort(attribute='name') %} {% if essay.status=='Incomplete' %}
          <tr class="negative">
          {% elif essay.status=='Done' %}
          <tr class="positive">
          {% else %}
          <tr class="warning">
          {% endif %}
            <td>{{ essay.name }}</td>
            <td>{{ essay.status }}</td>
            <td class="collapsing">
              <a class="ui basic tiny labeled icon button" href="{{ essay.link }}" target="_blank">
                <i class="external icon"></i>
                View Essay
              </a>
              <div class="ui tiny buttons">
                <a class="ui blue basic icon button" href="/student/profile/supplemental_essay/edit/{{ essay.id }}">
                  <i class="edit icon"></i>
                </a>
                <div class="ui red basic icon button delete-essay-button" data-id="{{ essay.id }}">
                  <i class="x icon"></i>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %} {% elif user.student_profile.common_app_essay|length == 0 %}
          <tr>
            <td colspan="3">
              No essays.
            </td>
          </tr>
          {% endif %}
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th colspan="3">
              <a class="ui right floated small green basic labeled icon button" href="{{ url_for('student.add_supplemental_essay', student_profile_id=user.student_profile.id) }}">
                <i class="plus icon"></i> Add Supplemental Essay
              </a> {% if user.student_profile.common_app_essay|length == 0 %}
              <a class="ui right floated small green basic labeled icon button" href="{{ url_for('student.add_common_app_essay', student_profile_id=user.student_profile.id) }}">
                <i class="plus icon"></i> Add Common App Essay
              </a> {% endif %}
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <!-- DISPLAY RECOMMENDATION LETTERS -->
  <div class="row">
    <div class="twelve wide column">
      <div style="color: #1A85D6;" class="ui horizontal divider">Recommendation Letters</div>
      <table class="ui compact table">
        <thead class="full-width">
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th></th>
        </thead>
        <tbody>
          {% if user.student_profile.recommendation_letters|length > 0 %} {% for letter in user.student_profile.recommendation_letters|sort(attribute='name') %} {% if letter.status=='Incomplete' %}
          <tr class="negative">
            {% elif letter.status=='Submitted' %}
            <tr class="positive">
              {% else %}
              <tr class="warning">
                {% endif %}
                <td>{{ letter.name }}</td>
                <td>{{ letter.category }}</td>
                <td>{{ letter.status }}</td>
                <td class="collapsing">
                  <div class="ui tiny buttons">
                    <a class="ui icon blue basic button" href="/student/profile/recommendation_letter/edit/{{ letter.id }}">
                      <i class="edit icon"></i>
                    </a>
                    <div class="ui icon red basic button delete-letter-button" data-id="{{ letter.id }}">
                      <i class="x icon"></i>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %} {% else %}
              <tr>
                <td colspan="4">
                  No recommendation letters.
                </td>
              </tr>
              {% endif %}
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th colspan="4">
              <a class="ui right floated small green basic labeled icon button" href="{{ url_for('student.add_recommendation_letter', student_profile_id=user.student_profile.id) }}">
                <i class="plus icon"></i> Add Recommendation Letter
              </a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>


  <!-- DISPLAY Acceptances -->
  <div class="row">
    <div class="twelve wide column">
      <div style="color: #1A85D6;" class="ui horizontal divider">
        <h3>Acceptances</h3>
      </div>
      <table class="ui compact table">
        <thead class="full-width">
          <th>Cost</th>
          <th>College</th>
          <th>Status</th>
          <th></th>
        </thead>
        <tbody class="full-width">
          {% if user.student_profile.acceptances|length > 0 %} {% for acceptance in 
            user.student_profile.acceptances|sort(attribute='college') %}
            <tr>
              {% if acceptance.net_cost >= 0 %}
              <td><a href="/student/acceptance/{{ acceptance.id }}/{{ user.student_profile.id }}">{{ acceptance.net_cost }}</a></td>
              {% else %}
              <td>Pending Award Parsing</td>
              {% endif %}
              <td>{{ acceptance.college }}</td>
              <td>{{ acceptance.status }}</td>
              <td class="collapsing">
                <div class="ui tiny buttons">
                  <a class="ui basic tiny labeled icon button" href="{{ acceptance.link }}"   target="_blank">
                      <i class="external icon"></i>
                      Award Letter
                    </a>
                    <a class="ui icon blue basic button"
                      href="/student/profile/acceptance/edit/{{ acceptance.id }}">
                      <i class="edit icon"></i>
                    </a>
                    <div class="ui icon red basic button delete-acceptance-button" data-id=
                    "{{ acceptance.id }}">
                      <i class="x icon"></i>
                  </div>
                  <a class="ui icon tiny basic button" href="/counselor/parse_award_letter/{{ acceptance.id }}" title="Imput Award Letter Information">
                    <i class="paste icon"></i>
                  </a>
                </div>
              </td>
            </tr>
            {% endfor %}{% else %}
            <tr>
              <td colspan="4">
                No acceptances added.
              </td>
            </tr>
            {% endif %}
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th colspan="4">
              <a class="ui right floated small green basic labeled icon button" href="{{ url_for
                ('student.add_acceptance', student_profile_id=user.student_profile.id) }}">
                <i class="plus icon"></i>Add Acceptance
              </a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

<!-- Display Scholarships Awarded -->
<div class="row">
    <div class="twelve wide column">
    <div style="color: #1A85D6;" class="ui horizontal divider">Scholarships</div>
      <table class="ui compact table">
        <thead class="full-width">
          <th>Name</th>
          <th>Award Amount</th>
          <th></th>
        </thead>
        <tbody class="full-width">
          {% if user.student_profile.scholarships|length > 0 %} {% for scholarship in 
            user.student_profile.scholarships|sort(attribute='name') %}
            <tr>
              <td>{{ scholarship.name }}</td>
              <td>{{ scholarship.award_amount }}</td>
              <td class="collapsing">
                <div class="ui tiny buttons">
                    <a class="ui icon blue basic button"
                      href="/student/profile/student_scholarship/edit/{{ scholarship.id }}">
                      <i class="edit icon"></i>
                    </a>
                    <div class="ui icon red basic button delete-scholarship-button" data-id=
                    "{{ scholarship.id }}">
                      <i class="x icon"></i>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}{% else %}
            <tr>
              <td colspan="4">
                No scholarships added.
              </td>
            </tr>
            {% endif %}
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th colspan="4">
              <a class="ui right floated small green basic labeled icon button" href="{{ url_for
                ('student.add_student_scholarship', student_profile_id=user.student_profile.id) }}">
                <i class="plus icon"></i>Add Scholarship
              </a>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>






<script type="text/javascript">
  $(document).ready(function() {
    // Delete test score
    $('.delete-test-button').click(function() {
      var url = '/student/profile/test_score/delete/' + $(this).data('id');
      $(this).parent().parent().parent().remove();
      $.ajax({
        url: url,
        type: 'POST',
        success: function(data) {
          if (data.success !== "True") {
            alert("Sorry there was an error, please try again.");
          }
        }
      });
    });

    // Delete major
    $('.delete-major-button').click(function() {
      var url = '/student/profile/major/delete/' + $(this).data('id') + '/{{ user.student_profile_id }}';
      $(this).parent().parent().remove();
      $.ajax({
        url: url,
        type: 'POST',
        success: function(data) {
          if (data.success !== "True") {
            alert("Sorry there was an error, please try again.");
          }
        }
      });
    });

    // Delete college
    $('.delete-college-button').click(function() {
      var url = '/student/profile/college/delete/' + $(this).data('id') + '/{{ user.student_profile_id }}';
      $(this).parent().parent().remove();
      $.ajax({
        url: url,
        type: 'POST',
        success: function(data) {
          if (data.success !== "True") {
            alert("Sorry there was an error, please try again.");
          }
        }
      })
    });

    // Delete common app essay
    $('.delete-common-button').click(function() {
      var url = '/student/profile/common_app_essay/delete/{{ user.student_profile_id }}';
      $(this).parent().parent().parent().remove();
      $.ajax({
        url: url,
        type: 'POST',
        success: function(data) {}
      });
    });

    // Delete supplemental essay
    $('.delete-essay-button').click(function() {
      var url = '/student/profile/supplemental_essay/delete/' + $(this).data('id');
      $(this).parent().parent().parent().remove();
      $.ajax({
        url: url,
        type: 'POST',
        success: function(data) {
          if (data.success !== 'True') {
            alert("Sorry there was an error, please try again.");
          }
        }
      });
    });

    // Delete recommendation letter
    $('.delete-letter-button').click(function() {
      var url = '/student/profile/recommendation_letter/delete/' + $(this).data('id');
      $(this).parent().parent().parent().remove();
      $.ajax({
        url: url,
        type: 'POST',
        success: function(data) {
          if (data.success !== "True") {
            alert("Sorry there was an error, please try again.");
          }
        }
      });
    });

    $('delete-scholarship-button').click(function(){
      var url = '/student/profile/student_scholarship/delete/' + $(this).data('id');
      $(this).parent().parent().parent().remove();
      $.ajax({
        url: url,
        type: 'POST',
        success: function(data){
          if(data.success !== "True"){
            alert("Sorry there was an error, please try again.");
          }
        }
      });
    });

    // Delete Acceptance 
    $('.delete-acceptance-button').click(function() {
      var url = '/student/profile/acceptance/delete/' + $(this).data('id');
      $(this).parent().parent().parent().remove();
      $.ajax({
        url: url,
        type: 'POST',
        success: function(data) {
          if (data.success !== "True") {
            alert("Sorry there was an error, please try again.");
          }
        }
      });
    });
  });
</script>
{% endblock %}
