{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="ui stackable centered grid container" style="margin-top:12px; margin-bottom:64px">
   <div class="twelve wide column">
      <div class="row">
         <h2 class="ui header">
            Upload Scholarship Data
            <div class="sub header">
               Upload CSV of scholarship data.
            </div>
         </h2>
         <h4 class="ui header">Instructions for Uploading Scholarships</h4>
         <p>
            To add more data to the scholarship database, create an excel sheet with the following columns in order:
            <ol>
               <li>Scholarship Name</li>
               <li>Scholarship Description</li>
               <li>Scholarship Deadline (M-D-Y) <b>(Excel should autoformat dates correctly)</b></li>
               <li>Award Amount <b>(Format amount without dollar signs or commas)</b></li>
               <li>Category <b>(Needs to match one of the following exactly:)</b>
                <ul>
                    <li>African-American</li>
                    <li>Agriculture</li>
                    <li>Arts-related</li>
                    <li>Asian</li>
                    <li>Asian Pacific American</li>
                    <li>Community Service</li>
                    <li>Construction Related Fields</li>
                    <li>Disabled</li>
                    <li>Engineering</li>
                    <li>Environmental Interest</li>
                    <li>Female</li>
                    <li>Filipino</li>
                    <li>First Generation College Student</li>
                    <li>Queer</li>
                    <li>General</li>
                    <li>Latinx</li>
                    <li>Immigrant/AB540/DACA</li>
                    <li>Interest in Journalism</li>
                    <li>Japanese</li>
                    <li>Jewish</li>
                    <li>Indigenous</li>
                    <li>Science/Engineering</li>
                    <li>Student-Athlete</li>
                    <li>Teaching</li>
                    <li>Women in Math/Engineering</li>
                </ul>
               </li>
               <li>Merit Based <b>(Yes or No)</b></li>
               <li>Service Based <b>(Yes or No)</b></li>
               <li>Need Based <b>(Yes or No)</b></li>
               <li>Minimum GPA <b>(Excel should autoformat dates correctly)</b></li>
               <li>Interview Required <b>(Yes or No)</b></li>
               <li>Link</li>
            </ol>
         </p>
         <p>
            <img src="{{url_for('static',filename='images/scholarship_data.png')}}" width="100%" />
         </p>
         <p>
            Enter data as in the sample image above in an excel file.
            When you are finished entering all the data, save your excel sheet as a CSV file, then upload it to this portal and click "Submit."
         </p>
         <h4 class="ui header">Upload CSV File</h4>
         <form class="ui form" method="POST" enctype="multipart/form-data">
            <label id="scholarship-data-file-label" for="scholarship-data-file" class="ui icon button">
               <i class="file icon"></i>
               Open File</label>
            <input type="file" accept=".csv" id="scholarship-data-file" name="file" style="display:none">
            <br /><br />
            <input class="ui submit primary button" type="submit"/>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
   $('#scholarship-data-file').on('change', function(e) {
      var filename;
      var $label = $('#scholarship-data-file-label');
      if (e.target.value) {
         filename = e.target.value.split('\\').pop();
      }
      if (filename) {
         $label.html('<i class="file icon"></i>&nbsp' + filename);
      } else {
         $label.html();
      }
   });
});
</script>

{% endblock %}
