{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="ui stackable centered grid container" style="margin-top:12px; margin-bottom:64px">
   <div class="twelve wide column">
      <div class="row">
         <h2 class="ui header">
            Upload College Data
            <div class="sub header">
               Upload CSV of college descriptions and deadlines.
            </div>
         </h2>
         <h4 class="ui header">Instructions for Uploading Colleges</h4>
         <p>
            To add more data to the college database, create an excel sheet with the following columns in order:
            <ol>
               <li>College Name</li>
               <li>College description</li>
               <li>Regular Deadline (M-D-Y) (Excel should autoformat dates correctly)</li>
               <li>Early Deadline (M-D-Y) (Excel should autoformat dates correctly)</li>
               <li>Scholarship Deadline (M-D-Y) (Excel should autoformat dates correctly)</li>
               <li>FAFSA Deadline (M-D-Y) (Excel should autoformat dates correctly)</li> 
               <li>Acceptance Announcement Date (M-D-Y) (Excel should autoformat dates correctly)</li> 
               <li>Image URL</li>
            </ol>
         </p>
         <p>
            <img src="/static/images/updated_college_data.png" width="100%" />
         </p>
         <p>
            Enter data as in the sample image above in an excel file.
            When you are finished entering all the data, save your excel sheet as a CSV file, then upload it to this portal and click "Submit."
         </p>
         <h4 class="ui header">Upload CSV File</h4>
         <form class="ui form" method="POST" enctype="multipart/form-data">
            <label id="college-data-file-label" for="college-data-file" class="ui icon button">
               <i class="file icon"></i>
               Open File</label>
            <input type="file" accept=".csv" id="college-data-file" name="file" style="display:none">
            <br /><br />
            <input class="ui submit primary button" type="submit"/>
         </form>
      </div>
   </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
   $('#college-data-file').on('change', function(e) {
      var filename;
      var $label = $('#college-data-file-label');
      if (e.target.value) {
         filename = e.target.value.split('\\').pop();
      }
      if (filename) {
         $label.html('<i class="file icon"></i>&nbsp' + filename);
      } else {
         $label.html();
      }
   });
});
</script>

{% endblock %}
