{% extends 'layouts/base.html' %}

{% block content %}
<div class="container" style="padding-bottom:50px; text-align: center; background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ college.image }}'); background-size: cover;">
    <h1 style="font-size:4.5em; color:white; text-align:center; padding-top:100px; padding-bottom:30px; font-family: 'IBM Plex Serif', serif;">{{ college.name }}</h1>
</div>

{% macro create_medium_stat_box(stat, description, extra_classes=none )%}
    <div class="ui segment stat_box {{extra_classes}}" >
        <h2 class="medium_stat_title">{{ stat }}</h2>
        <h3 class="medium_stat_subtitle"> {{ description }} </h3>
    </div>
{% endmacro %}


{% macro create_link_box(url, description, extra_classes=none, icon_class=none)%}
    <div class="column">
        <div class="ui segment college_link {{extra_classes}}" onclick="window.open('{{ url }}', '_blank')"> 
            <div class="college_link_icon_padding link_icon">
                <i class="{{icon_class}} icon link_icon"></i>
            </div>
            {{ description }}
        </div>
    </div>
{% endmacro %}

{% macro create_table_row(left, right, type=none) %}
    {% if right is not none %}
    <tr>
        <td> {{left}} </td>
        {% if type == 'money'%}
        <td> {{ "${0:,.0f}".format(right) }}</td>
        {% elif type == 'percent' %}
        <td> {{ right }}%</td>
        {% else %}
        <td> {{ right }}</td>
        {% endif%}
    </tr>
    {% endif %}
{% endmacro %}

<div class="ui stackable grid container" style="margin-top:12px; margin-bottom:64px">
    <div class="twelve wide computer sixteen wide mobile centered column">

        <div class="ui raised secondary green segment college_info">
            <h1 style="margin-bottom:15px;" class="ui header college_info_section_header">Useful Links</h1>
            <div class="ui three column doubling stackable grid container stretched flex_wrapper">
                {{ create_link_box(website_url, 'School Website', 'uni_web', 'university') }}
                {{ create_link_box(net_cost_url, 'Net Cost Calculator', 'uni_cost', 'dollar sign') }}
                {{ create_link_box('https://collegescorecard.ed.gov/school/?'+college.scorecard_id|string, 'College Scorecard Profile', 'uni_scd', 'chart bar') }}
            </div>
        
        </div>

        <div class="ui raised secondary green segment college_info">
            <h1 class="ui header college_info_section_header">{{college.name}} at a Glance</h1>
            <p style="font-size:18px;margin-bottom:15px;">{{ college.description }} </p>

            <div class="ui three column doubling stackable grid container stretched flex_wrapper">
                <div class="column">
                    <div class="ui segment" style="text-align: center;"> 
                        <h2 class="big_stat_title"> {{ college.admission_rate }}% </h1>
                        <h3 class="big_stat_subtitle"> Acceptance Rate </h2>
                        {% if college.admission_rate is not none and college.admission_rate < 30.0 %}
                        <em>&emsp; Note: Don't be deterred by an acceptance rate if the rest of your profile fits the school!</em>
                        {% endif %}
                    </div>
                </div>

                {% if college.sat_score_average_overall != 0.0 or college.act_score_average_overall != 0.0 %}
                <div class="column">
                    {% if college.sat_score_average_overall != 0.0 %}
                        {{create_medium_stat_box("{0:,.0f}".format(college.sat_score_average_overall|round|int), 'Average SAT Score')}}
                    {% endif %}
                    {% if college.act_score_average_overall != 0.0 %}
                        {{create_medium_stat_box(college.act_score_average_overall|round|int , 'Average ACT Score')}}
                    {% endif %}
                </div>
                {% endif %}

                <div class="column">
                    {% if college.school_city != "" %}
                    <div class="ui segment stat_box">
                        <h2 style="font-size: 20px;margin:0px;">{{ college.school_city }}, {{ state_full_name }}</h2>
                        <h3 class="medium_stat_subtitle"> Location </h3>
                    </div>
                    {% endif %}  
                    {% if college.school_city != "" %}
                        {{create_medium_stat_box("{0:,.0f}".format(college.school_size), 'Undergraduate Size')}}
                    {% endif %}  
                </div>
            </div>
            

            {% if college.is_hispanic_serving == 1%}
            <p><strong>This school is a hispanic-serving institution.</strong>: 
            {% endif %}
        </div>


        <div class="ui raised secondary green segment college_info"> 
            <h1 class="ui header college_info_section_header">Costs</h1>
            
            <div class="ui two column doubling stackable grid container flex_wrapper">
                <div class="column">

                    {% if college.tuition_in_state == college.tuition_out_of_state %} 
                    {{create_medium_stat_box('$'+"{0:,.0f}".format(college.cost_of_attendance_in_state), 'Average Total Cost of Attendance')}}
                    {% else %}
                    {{create_medium_stat_box('$'+"{0:,.0f}".format(college.cost_of_attendance_in_state), 'Average Total In-State Cost of Attendance')}}
                    {{create_medium_stat_box('$'+"{0:,.0f}".format(college.cost_of_attendance_out_of_state), 'Average Total Out-of-State Cost of Attendance')}}
                    {% endif %} 

                
                     <div class="ui two column doubling stackable grid container stretched flex_wrapper">
                        <div class="column">
                            {% if college.room_and_board != 0.0 %}
                            {{create_medium_stat_box('$'+"{0:,.0f}".format(college.room_and_board), 'Room and Board')}}   
                            {% endif %} 
                        </div>
                        <div class="column">
                            {% if college.room_and_board != 0.0 %}
                            {{create_medium_stat_box('$'+"{0:,.0f}".format(college.tuition_in_state), 'Tuition')}}   
                            {% endif %} 
                        </div>

                    </div>
                </div>

                {% if college.net_price_0_30000 is not none or 
                    college.net_price_30001_48000 is not none or
                    college.net_price_48001_75000 is not none or
                    college.net_price_75001_110000 is not none or
                    college.net_price_110001_plus is not none
                %}
                <div class="column">
                    <table class="ui celled padded table college_info_table">
                        <tr>
                            <th>Family Income</th>
                            <th style="margin-left:30px;">Net Price</th>
                        </tr>
                        {{ create_table_row('$0 - $30,000', college.net_price_0_30000, 'money') }}
                        {{ create_table_row('$30,001 - $48,000', college.net_price_30001_48000, 'money') }}
                        {{ create_table_row('$48,001 - $75,000', college.net_price_48001_75000, 'money') }}
                        {{ create_table_row('$75,001 - $110,000', college.net_price_75001_110000, 'money') }}
                        {{ create_table_row('$110,001 +', college.net_price_110001_plus, 'money') }}
                    </table>
                </div>
                {% endif %}
            </div>
        </div>

        {% if college.median_debt_first_gen is not none or college.median_debt_first_gen is not none or 
            college.median_debt_income_0_30000 is not none or college.median_debt_income_30001_75000 is not none
            or college.median_debt_income_75001_plus is not none %}
        <div class="ui raised secondary green segment college_info">
            <h1 class="ui header college_info_section_header">Debt</h1>
                <div class="ui two column doubling stackable grid container flex_wrapper">
                    {% if college.median_debt_first_gen is not none or college.median_debt_first_gen is not none%}
                    <div class="column">
                        {% if college.median_debt_first_gen is not none%}
                        {{create_medium_stat_box("${0:,.0f}".format(college.median_debt_first_gen),
                            'Median Debt of First Generation Students')}}
                        {% endif %}
                        {% if college.median_debt_first_gen is not none%}
                        {{create_medium_stat_box("${0:,.0f}".format(college.median_debt_non_first_gen),
                            'Median Debt of Non-First Generation Students')}}
                        {% endif %}
                    </div>
                    {% endif %}

                    <div class="column">
                        <table class="ui celled padded table college_info_table">
                            <tr>
                                <th>Family Income</th>
                                <th style="margin-left:30px;">Median Debt</th>
                            </tr>
                            {{ create_table_row('$0 - $30,000', college.median_debt_income_0_30000, 'money') }}
                            {{ create_table_row('$30,001 - $75,000', college.median_debt_income_30001_75000, 'money') }}
                            {{ create_table_row('$75,001 + ', college.median_debt_income_75001_plus, 'money') }}
                        </table>
                    </div>

                </div>
        </div>
        {% endif %}

        <div class="ui raised secondary green segment college_info">
            <h1 class="ui header college_info_section_header">Student Demographics</h1>
                <div class="ui two column doubling stackable grid container flex_wrapper">
                    {% if college.median_debt_first_gen is not none or college.median_debt_first_gen is not none%}
                    <div class="column">
                        {% if college.first_generation_percentage is not none%}
                        <div class="column">
                            {{ create_medium_stat_box(college.first_generation_percentage|string+'%', 'Percentage of First-Generation Students')}}
                        </div>
                        {% endif %}

                       
                    </div>
                    {% endif %}

                    <div class="column">
                        <table class="ui celled padded table college_info_table">
                            <tr>
                                <th>Race</th>
                                <th style="margin-left:30px;"> Percent of Student Body</th>
                            </tr>
                            {{ create_table_row('White', college.race_white, 'percent') }}
                            {{ create_table_row('Black', college.race_black, 'percent') }}
                            {{ create_table_row('Hispanic', college.race_hispanic, 'percent') }}
                            {{ create_table_row('Asian', college.race_asian, 'percent') }}
                            {{ create_table_row('Native American', college.race_american_indian, 'percent') }}
                            {{ create_table_row('Native Hawaiian', college.race_native_hawaiian, 'percent') }}
                        </table>
                    </div>

                </div>
        </div>

        <div class="ui raised secondary green segment">
            <h1 class="ui header college_info_section_header">Deadlines</h1>
            <p><strong>Early</strong>: {{ college.early_deadline }}</p>
            <p><strong>Regular</strong>: {{ college.regular_deadline }}</p>
            <p><strong>Scholarship</strong>: {{ college.scholarship_deadline }}</p>
            <p><strong>FAFSA Deadline</strong>: {{ college.fafsa_deadline }}</p>
            <p><strong>Acceptance Deadline</strong>: {{ college.acceptance_deadline }}</p>
        </div>


        {% if college.plot_SAT1600 %}
        <h4 class="ui header">GPA vs. SAT [1600] Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_SAT1600}}.embed?showlink=false"></iframe>
        {% endif %}
        {% if college.plot_ACT %}
        <h4 class="ui header">GPA vs. ACT Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_ACT}}.embed?showlink=false"></iframe>
        {% endif %}
        {% if college.plot_SAT2400 %}
        <h4 class="ui header">GPA vs. SAT [2400] Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_SAT2400}}.embed?showlink=false"></iframe>
        {% endif %}
    </div>
</div>

{% endblock %}
