{% extends 'layouts/base.html' %}

{% block content %}
<div style="height:300px; text-align: center; background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ college.image }}'); background-size: cover;">
    <h1 style="font-size:4.5em; color:white; text-align:center; padding-top:100px; padding-bottom:30px; font-family: 'IBM Plex Serif', serif;">{{ college.name }}</h1>
    {% if college.school_url != "" %}
        <button onclick="window.open('http://{{ college.school_url }}', '_blank')" class="ui green button">Website</button>
    {% endif %}
</div>
<div class="ui stackable grid container" style="margin-top:12px; margin-bottom:64px">
    <div class="twelve wide computer sixteen wide mobile centered column">
        <div class="ui raised secondary green segment">
            <h1 style="color: #1A85D6;" class="ui header">General Information</h1>
            <p><strong>Description:</strong> {{ college.description }} </p>
            <p><strong>Admission Rate</strong>: {% if college.admission_rate != 0.0 %} {{ college.admission_rate }}% {% endif %}</p>
            <p><strong>City</strong>: {{ college.school_city }}</p>
            <p><strong>Undergraduate size</strong>: 
                {% if college.school_size != 0 %}
                    {{ college.school_size }}
                {% endif %}
            </p>
            <p><strong>Average SAT Score</strong>: 
                {% if college.sat_score_average_overall != 0.0 %}
                {{ college.sat_score_average_overall }}
                {% endif %}
            </p>
            <p><strong>Average ACT Score</strong>: 
                {% if college.act_score_average_overall != 0.0 %}
                {{ college.act_score_average_overall }}
                {% endif %}
            </p>
        </div>

        <div class="ui raised secondary green segment"> 
            <h1 style="color: #1A85D6;" class="ui header">Costs</h1>
            <p><strong>Overall Cost of Attendance</strong>:
                {% if college.cost_of_attendance_in_state != 0.0 and college.cost_of_attendance_out_of_state != 0 %}
                    In-state ${{ "{0:,.0f}".format(college.cost_of_attendance_in_state) }} -- Out-of-state ${{ "{0:,.0f}".format(college.cost_of_attendance_out_of_state)}}
                {% endif %}
                </p>
            <p><strong>Tuition</strong>:
                {% if college.tuition_in_state != 0.0 and college.tuition_out_of_state %} 
                    In-state ${{ "{0:,.0f}".format(college.tuition_in_state) }} --  Out-of-state  ${{ "{0:,.0f}".format(college.tuition_out_of_state)}}
                {% endif %} </p>
            <p><strong>Room and Board</strong>:
                {% if college.room_and_board != 0.0 %}
                    ${{"{0:,.0f}".format(college.room_and_board)}}
                {% endif %} 
            </p>
        </div>

        <div class="ui raised secondary green segment">
        <h1 style="color: #1A85D6;" class="ui header">Deadlines</h1>
            <p><strong>Early</strong>: {{ college.early_deadline }}</p>
            <p><strong>Regular</strong>: {{ college.regular_deadline }}</p>
            <p><strong>Scholarship</strong>: {{ college.scholarship_deadline }}</p>
            <p><strong>FAFSA Deadline</strong>: {{ college.fafsa_deadline }}</p>
            <p><strong>Acceptance Deadline</strong>: {{ college.acceptance_deadline }}</p>
        </div>

        {% if college.plot_SAT1600 %}
        <h4 class="ui header">GPA vs. SAT [1600] Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_SAT1600}}.embed?showlink=false"></iframe>
        {% endif %}
        {% if college.plot_ACT %}
        <h4 class="ui header">GPA vs. ACT Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_ACT}}.embed?showlink=false"></iframe>
        {% endif %}
        {% if college.plot_SAT2400 %}
        <h4 class="ui header">GPA vs. SAT [2400] Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_SAT2400}}.embed?showlink=false"></iframe>
        {% endif %}
    </div>
</div>

{% endblock %}
