{% extends 'layouts/base.html' %}

{% block content %}
<div style="height:300px; text-align: center; background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ college.image }}'); background-size: cover;">
    <h1 style="font-size:4.5em; color:white; text-align:center; padding-top:100px; padding-bottom:30px; font-family: 'IBM Plex Serif', serif;">{{ college.name }}</h1>
</div>
<div class="ui stackable grid container" style="margin-top:12px; margin-bottom:64px">
    <div class="twelve wide computer sixteen wide mobile centered column">
        <p>
            {{ college.description }}
        </p>
        
        <h3 class="ui header">Costs</h3>
        <p><strong>Overall Cost of Attendance</strong>: ${{ college.cost_of_attendance }}</p>
        <p><strong>Tuition</strong>: ${{ college.tuition }}</p>
        <p><strong>Room and Board</strong>: ${{ college.room_and_board }}</p>
        <h3 class="ui header">Deadlines</h3>
        <p><strong>Early</strong>: {{ college.early_deadline }}</p>
        <p><strong>Regular</strong>: {{ college.regular_deadline }}</p>
        <p><strong>FAFSA Deadline</strong>: {{ college.fafsa_deadline }}</p>
        <p><strong>Acceptance Deadline</strong>: {{ college.acceptance_deadline }}</p>

        {% if college.plot_SAT1600 %}
        <h4 class="ui header">GPA vs. SAT [1600] Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_SAT1600}}.embed?showlink=false"></iframe>
        {% endif %}
        {% if college.plot_ACT %}
        <h4 class="ui header">GPA vs. ACT Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_ACT}}.embed?showlink=false"></iframe>
        {% endif %}
        {% if college.plot_SAT2400 %}
        <h4 class="ui header">GPA vs. SAT [2400] Scattergram</h4>
        <iframe width="900" height="480" frameborder="0" seamless="seamless" scrolling="no" src="{{college.plot_SAT2400}}.embed?showlink=false"></iframe>
        {% endif %}
    </div>
</div>

{% endblock %}
