{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
<!-- <div class="container" style="padding-bottom:75px; background-size: cover; text-align: center; background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://c.pxhere.com/photos/63/d6/cellphone_desk_iphone_laptop_macbook_notebook_notepad_pencil-972233.jpg!d');">
    <h1 style="font-size:4.5em; color:white; text-align:center; padding-top:100px; padding-bottom:30px; font-family: 'IBM Plex Serif', serif;">Welcome to Next Generation Scholars</h1>
     {% if not current_user.is_authenticated %}
    <button onclick= "window.location.href='/account/register';" class="ui red button">Register</button>
    <button onclick= "window.location.href='/account/login';"class="ui green button">Login</button>
    {% endif %}
</div> -->

<iframe style="width:100%; height:100%; padding-bottom:45px; margin-bottom:0px;" src="https://www.ngsapp.com/" frameborder="0"></iframe>    

{% endblock %}
