{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base.html' %}

{% block content %}
<!-- <div class="container" style="padding-bottom:75px; background-size: cover; text-align: center; background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://c.pxhere.com/photos/63/d6/cellphone_desk_iphone_laptop_macbook_notebook_notepad_pencil-972233.jpg!d');">
    <h1 style="font-size:4.5em; color:white; text-align:center; padding-top:100px; padding-bottom:30px; font-family: 'IBM Plex Serif', serif;">Welcome to Next Generation Scholars</h1>
     {% if not current_user.is_authenticated %}
    <button onclick= "window.location.href='/account/register';" class="ui red button">Register</button>
    <button onclick= "window.location.href='/account/login';"class="ui green button">Login</button>
    {% endif %}
</div> -->

<iframe style="width:100%; height:500px; margin-bottom:0px;" src="http://ngsapp.strikingly.com/" frameborder="0"></iframe>    

<!-- <div class="ui stackable grid centered container" style="margin-top:12px; margin-bottom:64px;">
    <div class="twelve wide computer sixteen wide mobile column">
        <div class="row">
            {{ page.render_inline_editor(editable_html_obj, current_user) }}
            <div class="intrinsic-container intrinsic-container-16x9">
            	<iframe src="http://ngsapp.strikingly.com/" ></iframe>
            <div>
        </div>
    </div>
</div> -->


<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
<!-- script handles rendering the iFrame for mobile/desktop -->
<style type="text/css">
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
{% endblock %}
