{# This macro is called on the user dashboards. In this case the administrator dashboard
   at the route admin.index
#}

{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon in endpoints %}
        <a class="item {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">
            {% if icon %}
                <i class="{{ icon }} icon"></i>
            {% endif %}
            {{ name | safe }}
        </a>
    {% endfor %}
{% endmacro %}

{# This is called for all users (including anonymous users). It renders the basic left side of the
   navigation bar. In the default case, the left hand side will read 'Flask-Base'. In the logged in
   admin case, there will also be an item that links to admin/ route. I have added an example use of
   render_menu_items.
#}

{% macro header_items(current_user) %}
    {% if not current_user.is_authenticated %}
      {% set endpoints = [
        ('main.index', config.APP_NAME, ''),
      ] %}
    {% else %}
      {% if current_user.is_student() %}
        {% set endpoints = [
          ('main.index', config.APP_NAME, ''),
          ('student.dashboard', 'Tasks', 'tasks'),
          ('student.view_user_profile', 'Profile', 'user'),
          ('student.calendar', 'Calendar', 'calendar'),
          ('student.colleges', 'Colleges', 'university'),
          ('main.resources', 'Resources', 'file text outline')
        ] %}
      {% elif current_user.is_counselor() %}
        {% set endpoints = [
          ('main.index', config.APP_NAME, ''),
          ('counselor.index', 'Dashboard', 'dashboard'),
          ('counselor.student_database', 'Students', 'student'),
          ('main.calendar', 'Calendar', 'calendar'),
          ('counselor.colleges', 'Colleges', 'university'),
          ('main.resources', 'Resources', 'file text outline')
        ] %}
      {% else %}
        {% set endpoints = [
          ('main.index', config.APP_NAME, ''),
          ('admin.index', 'Dashboard', 'dashboard'),
          ('counselor.student_database', 'Students', 'student'),
          ('main.calendar', 'Calendar', 'calendar'),
          ('counselor.colleges', 'Colleges', 'university'),
          ('main.resources', 'Resources', 'file text outline')
        ] %}
      {% endif %}
    {% endif %}
    {{ render_menu_items(endpoints) }}
{% endmacro %}

{# This renders the right hand side of the navigation bar. If the user is logged in, it links to
   manage their account and logout (account routes). Otherwise, it links to register and login.
#}
{% macro account_items(current_user) %}
    {% if not current_user.is_authenticated %}
      {% set endpoints = [
        ('account.register', 'Register', 'list layout'),
        ('account.login', 'Log In', 'sign in')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}

{% macro mobile_nav(pageType, current_user, dropdown=None) %}
    {% if pageType=='home' or pageType=='college_profile' %}
        <div style="padding-bottom:0px;" class="mobile only row">
            <div class="ui fixed inverted blue main menu">
                {{ header_items(current_user) }}
                <div class="right menu">
                    <a class="icon item" id="open-nav"><i class="sidebar icon"></i></a>
                </div>
            </div>
        
            {# The menu items which will be shown when open-nav is clicked #}
            <div class="ui fixed vertical fluid menu">
              {{ account_items(current_user) }}
              {{ create_dropdown(dropdown) }}
            </div>
        </div>
    {% else %}
        <div class="mobile only row">
            <div class="ui fixed inverted blue main menu">
              {{ header_items(current_user) }}
              <div class="right menu">
                  <a class="icon item" id="open-nav"><i class="sidebar icon"></i></a>
              </div>
            </div>
        
          {# The menu items which will be shown when open-nav is clicked #}
          <div class="ui fixed vertical fluid menu">
            {{ account_items(current_user) }} 
            {{ create_dropdown(dropdown) }}
          </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro create_dropdown(dropdown) %}
  {% for item in dropdown %}
    {% if item | length == 3 %}
      {{ render_menu_items([item]) }}
    {% elif item | length == 2 %}
      <div class="ui dropdown item" onClick="changeMenu(this)">{{ item[0] }} <i class="dropdown icon"></i>
        <div class="inverted black menu">
          {{ create_dropdown(item[1]) }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro desktop_nav(pageType, current_user, dropdown=None) %}
     {% if pageType=='home' or pageType=='college_profile' %}
        <div style="padding-bottom: 0px;" class="computer tablet only row">
          <div class="ui fixed inverted blue main menu">
            <div class="ui container">
              {{ header_items(current_user) }}
              <div class="right menu">
                {{ account_items(current_user) }} 
                {{ create_dropdown(dropdown) }}
              </div>
            </div>
          </div>
        </div>
    {% else %}
      <div class="computer tablet only row">
        <div class="ui fixed inverted blue main menu">
          <div class="ui container">
            {{ header_items(current_user) }}
            <div class="right menu">
              {{ account_items(current_user) }} {{ create_dropdown(dropdown) }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
{% endmacro %}

{% macro render_nav(page, current_user, dropdown=[]) %}
    <nav class="ui navigation grid {% if endpoints %}has-submenu{% endif %}">
        {{ mobile_nav(page, current_user, dropdown=dropdown) }}
        {{ desktop_nav(page, current_user, dropdown=dropdown) }}
    </nav>
{% endmacro %}
