{% macro render_flashes(page, class) %}
    {% with msgs = get_flashed_messages(category_filter=[class]) %}
        {% for msg in msgs %}
            {% if page == 'home' or page == 'college_profile' %}
                <div style="z-index:1; position: absolute; width:60%; margin-top:20px;" class="ui {{ class }} positive floating message">
                    <i class="close icon"></i>
                    {{ msg }}
                </div>
             {% else %}
                <div class="ui {{ class }} message">
                    <i class="close icon"></i>
                    {{ msg }}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
{% endmacro %}

<div class="ui text container">
    <div class="flashes">
        {{ render_flashes(pageType, 'error') }}
        {{ render_flashes(pageType, 'warning') }}
        {{ render_flashes(pageType, 'info') }}
        {{ render_flashes(pageType, 'success') }}
    </div>
</div>
